<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock  %}</title>
    </head>
    <body>
        <nav class="py-6 px-8 flex justify-between bg-teal-500 text-white">
            <a href="/" class="text-white">MAYA CRM</a>
            <div class="flex space-x-2">
                <a href="{% url 'about' %}" class="text-white py-4 px-6">About</a>
                
                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="text-white py-4 px-6 bg-teal-600 rounded-xl">Dashboard</a>
                    <a href="{% url 'leads_list' %}" class="text-white py-4 px-6 bg-teal-600 rounded-xl">Leads</a>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="text-white py-4 px-6 bg-red-300 rounded-xl">Logout</button>
                    </form>
                    {% comment %} <a href="{% url 'logout' %}" class="text-white py-4 px-6 bg-red-300 rounded-xl">Logout</a> {% endcomment %}
                
                {% else %}
                    <a href="{% url 'login' %}" class="text-white py-4 px-6 bg-teal-600 rounded-xl">Login</a>
                    <a href="{% url 'signup' %}" class="text-white py-4 px-6 bg-teal-300 rounded-xl">Signup</a>

                {% endif %}
               
            </div>
        </nav>

            {% if messages %}
                <div class="py-6 px-6 ">
                    {% for message  in messages  %}
                        <dir class="py-4 px-4 bg-teal-500 rounded-xl">
                            {{ message }}
                        </dir>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}

            {% endblock  %}
        <footer class="py-8 text-center bg-gray-200">
            <p class="text-xs text-gray-700">Copyright (c) 2024 - MAYA CRM</p>
        </footer>
    </body>
</html>